body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

img {
    height: 150px;
}

li {
    list-style: none;
    border-radius: 5px;
    margin: 5px;
}

li:hover {
    box-shadow: 5px 5px 5px grey;
}

#pokemon-gallery {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.type_2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4px;
}

#paging {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.stats {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#previous-button, #next-button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
    box-shadow: 5px 5px 5px grey;
}